@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RocknRoll One", sans-serif;
}

body{
  background: rgb(133, 133, 253);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.App
{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.headerTitle
{
    text-align: center;
    margin-bottom: 2rem;
    color: #e1ebfd;
    text-shadow: 0 0 5px #433aa8 , 3px -1px 5px #271c6c;;
}

.headerInpBtn
{
    display: flex;
    justify-content: center;
}

.headerAdd
{
    min-width: 100px;
    width: 40vw;
    max-height: 2.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e1ebfd;
    align-self: center;
}

.headerAddBtn
{
  margin-left: 1rem;
  background-color: #271c6c;
  color: #e1ebfd;
  border-radius: 50%;
  border: 2px solid #e1ebfd;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #271c6c;

  display: flex;
  justify-content: center;
  align-items: center;

}

.headerAddBtn:focus
{
    outline: none;
}


.headerAdd:focus
{
    outline: none;
    border: 2px solid rgb(67, 58, 168);
}

.navbar
{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.navbar button
{
    margin: 0 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    border: none;
}

.display
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem 0.5rem 1.5rem 1.5rem;
}

.todoList
{
  width: 18rem;
  height: 8rem;
  background: radial-gradient( circle, hsla(237, 34%, 78%, 0.9) 0%, hsla(219, 88%, 94%, 0.9) 100% );
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 12px;
  padding: 16px;
}

.todoList textarea
{
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-color: #e1ebfd;
    color: #271c6c;
    height: 70%;
}

.todoList textarea:disabled {
  background-color: transparent;
}

.todoBtn
{
  display: flex;
  justify-content: center;
}

.todoBtn button{
  border-radius: 20%;
  margin: 0 0.6rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #271c6c;
  background-color: transparent;
}

.todoBtn button:focus {
  outline: none;
}
